Thumbs.db
.DS_Store
.buildpath
.project
.vagrant
.settings
.idea
.dockerdata
.data
.sass-cache
.jekyll-cache
.jekyll-metadata
*.db
*.bak
*.swp
*.log
logs/*
build/*
coverage/*
dist/*
node_modules/*
vendor
package-lock.json
yarn.lock
Gemfile.lock
_site
src/css
