<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/assets/css/main.css">
    <title>{{ site.title }} - {{ page.title }}</title>
</head>
<body class="bg-background">

    <!-- NAVBAR -->
    <nav class="fixed container mx-auto lg:px-24 sm:px-10 mb-24 pb-6 bg-background">

        <!-- FLEX CONTAINER -->
        <div class="flex items-center justify-between">

            <!-- LOGO -->
            <div class="pt-3">
                <img src="/assets/img/logo-1.png" alt="logo">
            </div>
            <!-- LOGO -->

            <!-- MENU ITEMS -->
            <div class="hidden lg:flex lg:space-x-11 md:mx-4">
                <a class="hover:text-gray-500" href="#">Soluções</a>
                <a class="hover:text-gray-500" href="#">Sobre Nós</a>
                <a class="hover:text-gray-500" href="#">Trabalhe Conosco</a>
                <a class="hover:text-gray-500" href="#">Contato</a>
            </div>
            <!-- MENU ITEMS -->

            <!-- SOCIAL -->
            <div class="hidden lg:flex lg:space-x-4">

                <div class="flex space-x-2">
                    <img class="w-6 h-6 pb-1" src="/assets/img/social/whatsapp.svg" alt="whatsapp">
                    <a class="text-primaryColor" href="{{ site.social_whatsapp }}" target="_blank">WhatsApp</a>
                </div>

                <div class="flex space-x-2">
                    <img class="w-6 h-6 pb-1" src="/assets/img/social/linkedin.svg" alt="whatsapp">
                    <a class="text-primaryColor" href="{{ site.social_linkedin }}" target="_blank">LinkedIn</a>
                </div>

                <div class="flex space-x-2">
                    <img class="w-6 h-6 pb-1" src="/assets/img/social/github.svg" alt="whatsapp">
                    <a class="text-primaryColor" href="{{ site.social_github }}" target="_blank">Github</a>
                </div>

            </div>
            <!-- SOCIAL -->

            <!-- HAMBURGER MENU ICON -->
            <button id="menu-btn" class="block lg:hidden focus:outline-none hamburger">
                <span class="hamburger-top"></span>
                <span class="hamburger-middle"></span>
                <span class="hamburger-bottom"></span>
            </button>
            <!-- HAMBURGER MENU ICON -->

        </div>
        <!-- FLEX CONTAINER -->

    </nav>
    <!-- NAVBAR -->

    <!-- MOBILE MENU -->
    <!-- MOBILE MENU -->

    <!-- PAGE CONTENT -->
    <main class="pt-24">