<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/assets/css/main.css">
    <title>{{ site.title }} - {{ page.title }}</title>
</head>
<body class="bg-background">

    <!-- NAVBAR -->
    <nav class="relative container mx-auto">

        <!-- FLEX CONTAINER -->
        <div class="flex items-center justify-between">

            <!-- LOGO -->
            <div class="pt-4">
                <img src="/assets/img/logo-1.png" alt="logo">
            </div>
            <!-- LOGO -->

            <!-- MENU ITEMS -->
            <div class="flex space-x-11">
                <a href="#">Soluções</a>
                <a href="#">Sobre Nós</a>
                <a href="#">Trabalhe Conosco</a>
                <a href="#">Contato</a>
            </div>
            <!-- MENU ITEMS -->

            <!-- SOCIAL -->
            <div class="flex space-x-4">

                <div class="flex space-x-2">
                    <img class="w-6 h-6" src="/assets/img/social/whatsapp.svg" alt="whatsapp">
                    <a class="text-primaryColor" href="{{ site.social_whatsapp }}" target="_blank">WhatsApp</a>
                </div>

                <div class="flex space-x-2">
                    <img class="w-6 h-6 pb-1" src="/assets/img/social/linkedin.svg" alt="whatsapp">
                    <a class="text-primaryColor" href="{{ site.social_linkedin }}" target="_blank">LinkedIn</a>
                </div>

                <div class="flex space-x-2">
                    <img class="w-6 h-6" src="/assets/img/social/github.svg" alt="whatsapp">
                    <a class="text-primaryColor" href="{{ site.social_github }}" target="_blank">Github</a>
                </div>

            </div>
            <!-- SOCIAL -->

        </div>
        <!-- FLEX CONTAINER -->

    </nav>
    <!-- NAVBAR -->